@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Orbitron:wght@400;500;600;700;800;900&display=swap');
header{
    margin:0;
    background-color:none;
    position: fixed;z-index: 5000;left: 0; top:0%;width: 100%;height: 10%;
    display: flex; flex-direction: row; 
    align-items: center; justify-content: space-between;
}

.ham-navigaion{
    display: none; width: 100%; height: 100%;  position:absolute; top:0; right: 0;
}
.ham-btn-container{
    width: 100%; height: 100%;  position: relative;z-index: 9900;
}
.monster-ham-btn{
    width: 50px; height: 50px; position: absolute; right:0; z-index: 9900;

}
.monster-ham-btn button{
    width: 100%; height: 100%; position: relative; outline: 0; border: 0; background: 0;
    
}
.btn-line span{
    width: 100%; height: 2px; background: rgb(255, 255, 255);  
  
}
.btn-line{
    width: 50%;height: 30%; position: absolute;top:50%; left:50%; transform: translate(-50%,-50%);
    display: flex; flex-direction: column; justify-content: space-between;
}

.buger-container{
    width: 100%; height: 0vh; position: absolute;  top:0;opacity: 0;transition: 0.5s ease-in-out; visibility: hidden;
}
.buger-container.active{
    width: 100%; height: 100vh;  opacity: 1;transition: 0.5s ease-in-out;visibility: visible;
}
.buger-cover{
    width: 100%; height: 0%; background: #ffffff; position: relative; opacity: 0;transition: 0.5s ease-in-out;visibility: hidden;
}
.buger-cover.active{
    width: 100%; height: 100%;  opacity: 1;  transition: 0.5s ease-in-out;visibility: visible;
}
.buger-monster-list {
    position: absolute; top:50%; left:50%; transform: translate(-50%,-50%);
}
.buger-monster-list li{
    margin-bottom: 20%; text-align: center;
}
.cartResponsiveBtn{
    text-align: center;
}
 .buger-monster-list li a, .cartResponsiveBtn a{
    font-family: 'Orbitron', sans-serif; font-weight: 700; font-size: 1.5rem; text-transform: uppercase;
    text-decoration: none; color:black;text-align: center; cursor: pointer;
}
header .logo{
    height: 100%; margin-left:5%; 
}
header .logo > a {
    height: 100%;  display:flex; align-items: center;  justify-content:center; 
}
header .logo > a > img {
    width: 30px;
}
header .monster-nav{
    width: 100%; height: 100%;  display: flex; position: relative;
}

header .monster-nav ul{
   padding:0;position: absolute; top: 50%;  transform: translateY(-50%);
    display: flex; flex-direction: row; left: 5%; align-items: center;  width: 40%; margin: 0;
}
header .monster-nav ul li { margin-left: 5%; margin-right: 5%;}
header .monster-nav ul li > a{
    font-family: 'Orbitron', sans-serif; cursor: pointer;
    font-weight: 500;font-size: 1rem; color:#ffffff; letter-spacing: 2px;
    text-decoration: none; text-transform: uppercase;
    transition: 0.3s ease-in-out;
}
header .monster-nav ul li > a.active{
    font-family: 'Orbitron', sans-serif; cursor: pointer;color:#95ff00;
}

header .monster-nav .cartMainBtn{
    top: 50%;  transform: translateY(-50%);
    position: absolute;right: 5%;
}
header .monster-nav .cartMainBtn > a{
    font-family: 'Orbitron', sans-serif; cursor: pointer;
    font-weight: 500;font-size: 1rem; color:#ffffff; letter-spacing: 2px;
    text-decoration: none; text-transform: uppercase;
}