@media screen and (max-width: 1024px){
    /* header */
    header .monster-nav ul{
        right: 17%;
    }
    .ham-navigaion{
        display: none;
    }
    .cart-container {
        width: 50%; right:-50%;
    }
    .cart-container.active {
        width: 50%;
    }
    .about-text-area h1{
       font-size: 3rem;
     }
     .monster-about-images img:first-of-type{
       height: 10%;width: auto;
     }
    .monster-about-images img:first-of-type.active{
       left:35%; 
     }
    .monster-about-images img:last-of-type{
        top:30%; left:130%; 
        height: 10%;width: auto;
     }
    .monster-about-images img:last-of-type.active{
       top:30%; left:140%;
     }
    .monster-about-images .svg-stars svg:nth-of-type(2){
        bottom:15%; left: 20%;
    }
    .monster-about-images .svg-stars svg:nth-of-type(2).active{
        bottom:15%; left: 20%;
    }
    .monster-about-images .svg-stars svg:nth-of-type(3),.svg-stars svg:nth-of-type(3).active{
        right: -90%;
    }
    .monster-about-images .svg-stars svg:nth-of-type(3).active{
        right: -90%;
    }
    .about-content-text{
        top:60%; 
    }
    .product-container .product-content{
        display: flex;flex-direction: row-reverse; position: relative; 
        flex-wrap: wrap;
    }
    
    .product-container .product-content .product-text{
        width: 50%; height: 50%; flex: auto;position: absolute; top:30%;
    }
    .product-container .product-content .product-text.active {
        width: 50%; height: 50%; display: flex; flex-direction: row;
    }
    .product-container .product-content .product-text .text-wrap{
        width: 100%; height: 100%; position: relative; margin-left:10%;top:30%; left: 0%; transform: translateY(-50%);
    }
    .product-container .product-content .product-text .text-wrap h1{
        width: 90%;font-size: 3rem;
    }
    .product-container .product-content .product-text .text-wrap p:first-of-type{
       display: none;
    }
    .product-container .product-content .product-text .text-wrap p:nth-of-type(3){
        width: 80%; height: 25%; 
    }
    .product-drink-nav{
        width: 100%; height: 10%;  position: relative; top:5%;
    }
    .product-drink-nav ul{
        width: 80%;top:70%;transform: translate(-50%, -70%);height: 100%;
       flex-direction: row;
    }
    .product-drink-nav ul li{
         display: flex; flex-direction: column;
    }
    .product-drink-nav ul li span{
        width: 70px; height: 70px; border-radius: 50%;  position: absolute;
        visibility: hidden; opacity: 0; transition: 0.3s ease-in; top:5%;
     }
    .product-drink-nav ul li p{
        margin-top:10% ; font-size: 1rem; height: 30%;text-align: center;
    }
    .product-drink-nav ul li:hover p{
        margin-top:10% ; font-size: 1rem; text-align: center; line-height: 1rem;
    }
    .product-drink-nav ul .drink-left{
        flex-direction: column;
    }
    .product-drink-nav ul .drink-left > p{
       margin-right: 0px;
    }
    .product-drink-nav ul .drink-left img{
        transform: rotate(0deg);
    }
    .product-drink-nav ul .drink-right{
        flex-direction: column; 
    }
    .product-drink-nav ul .drink-right img{
        transform: rotate(0deg);
    }
    .product-drink-nav ul .drink-right p{
        margin-left: 0px; 
    }
    .product-images{
        width: 40%; height: 50%; flex: auto; position: relative; top:20%;
    }
    .product-images .image-area img:first-of-type{
        z-index: 1000;height: auto;width: 50%; top:45%; left: 60%;transform: translate(-50%, -50%);
        animation:none;
     }
    .product-images .image-area img:nth-of-type(2){
        display: none;
     }
    .product-images .image-area img:nth-of-type(3){
         z-index: 500;height: auto;width: 30%; right:-5%; top: 60%;transform: translate(0%, 0%) rotate(-30deg);
     }
    .monster-sticker{
       display: none;
    }
    .product-container .product-content .product-text .text-wrap .calculation-area .cart-area{
        width: 100%; height: 30%; display: flex; justify-content: space-between; margin-top:3%;
    }
    .product-container .product-content .product-text .text-wrap .calculation-area .cart-area button{
        height: 100%;display: flex; justify-content: center; align-self: center; justify-items: center;padding: 1%; cursor: pointer; width: 49%;
        position: relative;
    }

    .product-container .product-content .product-text .text-wrap .calculation-area .cart-area button p{
        width: 90%; text-align: center; 
        display: block; position: absolute;top:50%; left: 50%;transform: translate(-50%, -50%);
    }
    .product-container .product-content .product-text .text-wrap .calculation-area .product-num .num-area .drink-num p{
        position: absolute; top:50%; left: 50%;transform: translate(-50%, -50%); display: block; 
    }
    /* sponsor */
    .sponsor-nav .nav-area h1{
        font-family: 'Orbitron', sans-serif; font-weight: 700; font-size: 2rem; text-transform: uppercase;
    }
    .sponsor-nav .nav-area nav li{
        font-family: 'Orbitron', sans-serif; font-weight: 100; font-size: 1.5rem; margin-bottom:10%;text-transform: uppercase; letter-spacing: 1px;
        cursor: pointer;pointer-events: auto;
    }
    .sponsor-kind{
        width: 100%;height: 100%; position: relative;  left:50%; transform: translateX(-50%);
        display: flex; flex-direction: column; margin-top:23%;
    }
    .sponsor-list.music ul{
        width: 100%; height: 1080px; position: relative;   
        display: flex; flex-wrap: wrap; justify-content: center;  flex-direction: row; 
    }
   .sponsor-list.game ul{
        width: 100%; height: 2000px; position: relative;   
        display: flex; flex-wrap: wrap; justify-content: center;  flex-direction: row; 
    }
    .sponsor-list.game li:nth-of-type(9){
        margin-top:-100px; 
    }
    .support-content{
        width: 100%; height: 100%; position: relative;
        display: flex;   flex-direction: column;
    } 
    .support-image{
        width:100%; height: 30%; 
       position: relative;
    } 
    .support-image img{
        position: absolute; top: 50%; left: 50%; transform: translateX(-55% );
        width: 70%; height: auto;z-index: 700;
     }
    .support-image span {
        border: solid 1px #95ff00;
        position: absolute; position: absolute; top: 55%; left: 50%; transform: translateX(-50% );
        width: 500px; height: 500px;
    }
    .support-text{
        width: 80%; height: 50%; margin-left: 2%;top:15%;
         position: relative; display: flex; flex-direction: column;
     }
    .support-btn-area{
        width: 50px; height: 50px; position: absolute;
        top:-70%; right:0%; cursor: pointer;
    } 
    .calculation-area .drink-info{
        width: 100%; height: 30%; display:flex;margin-top:3%; z-index: 1000; position: relative;
     }
    .calculation-area .drink-info .nutrition-info{
      width: 50%; height: 100%; color:white; 
     }
    .calculation-area .drink-info .nutrition-info p{
        letter-spacing: 1px; color:white; display: block; 
     }
     .ingredient-popup > .ingredient-popup-area, .nutrition-popup > .nutrition-popup-area{
        width: 60%;
    }
    .popup-area{
        width: 50%;
    }
}

@media screen and (max-width: 500px){
    header .monster-nav{
       display: block;
    }
    header .logo > a > img {
        width: 40px;
    }
    .ham-navigaion{
        /* display: block; */
    }
    .about-text-area h1{
        font-size: 2rem;
    }
    .product-container .product-content .product-text .text-wrap p{
        font-size: 0.9rem;
    }
    .product-container .product-content{
        display: flex;flex-direction: column; position: relative; 
        flex-wrap: wrap; height: 1200px;overflow: scroll;
    }
    .product-container .product-content .product-text{
        width: 100%; height: 60%; 
    }
    .product-container .product-content .product-text.active {
        width: 100%; height: 60%;  display: flex; flex-direction: column; order: 2;
    }
    .product-container{
        width: 100%; height: 100%; position: relative; overflow: scroll;
    }
    .product-images{
        width: 100%; height: 20%; position: relative; order: 1;
    }
    .product-images .image-area img:first-of-type{
        z-index: 1000;width: auto;height: 300px; top:0;left: 50%;transform: translate(-50%, -50%);
        animation:none;
     }
    .product-images .image-area img:nth-of-type(2){
        display: none;
     }
    .product-images .image-area img:nth-of-type(3){
        display: none;
     }
     .product-drink-nav{
        width: 100%; height: 20%;  position: relative; top:5%;order: 3;
    }
    .product-container .product-content .product-text .text-wrap{
        width:85%; height: 100%; position: absolute; top:0%; left: 50%; transform: translate(-50%, -25%); margin: 0; display: flex; flex-direction: column;
    }
    .product-container .product-content .product-text .text-wrap h1{
         font-size: 1.7rem; line-height: 2rem; text-align: center; margin: 0; height: 10%; width: 100%;
    }
    .product-container .product-content .product-text .text-wrap p:nth-of-type(3){
        width: 100%; height: 35%; position: relative;margin: 0;
    }
    .product-container .product-content .product-text .text-wrap p:nth-of-type(4){
        font-weight: 400;height: 5%; margin: 0;
   }
    .product-container .product-content .product-text .text-wrap #line{
        width: 100%; height: 1px; background-color: rgb(255, 255, 255);
    }
    
    .product-drink-nav ul li{
       width: 16%;
   }
    .product-drink-nav ul .drink-left > p, .product-drink-nav ul .drink-right p{
        display: none;
    }
    .calculation-area{
        width: 100%; height: 30%; 
    }
    .product-drink-nav{
        width: 100%; height: 10%;  position: relative; top:7%;
    }

    .sponsor-content{
        flex-direction: column;
    }
    .sponsor-nav{
        width: 100%; height: 30%;   position: relative;z-index: 1500; color:white;
        margin-top:10%;
    }
    .sponsor-nav .nav-area{
        width: 30%; height: 70%;  position: absolute; text-align: center;
        display: flex; flex-direction: column; top:50%; left:50%;transform: translate(-50%, -50%);
    }
    .sponsor-nav .nav-area h1{
       font-size: 1.5rem;  margin: 0;
    }
    .sponsor-nav .nav-area nav ul{
        display: flex; flex-direction: row; justify-content: space-between;
    }
    .sponsor-nav .nav-area nav li{
      font-size: 1rem; text-transform: uppercase;
    }
    .sponsor-kind{
        width: 100%;height: 100%; position: relative;  left:50%; transform: translateX(-50%);
        display: flex; flex-direction: column; margin-top:0%;
    }
    .sponsor-area{
        width: 100%;height: 80%;position:absolute;opacity: 0; visibility: hidden;
        right: 0; 
    }
    .sponsor-title{
        display: flex; flex-direction: column; margin: 0;
    }
    .sponsor-title h2{
        margin: 0 0 5% 0;
    }
    .sponsor-area.active{
        width: 100%;height: 80%;position:relative;
        right: 0; opacity: 1; visibility: visible; 
        z-index: 1000;pointer-events: auto;
    }
    .sponsor-list.music ul{
        width: 100%; height: 1500px; position: relative;   
        display: flex; flex-wrap: wrap; justify-content: center;  flex-direction: row; 
    }
    .sponsor-list.music li{
        margin-top:2%;margin-top:2%; 
    }
    .support-container, .support-container.active{
        width: 100%;
    }
    .support-image span {
        display: none;
    }
    .support-image img{
         top: 50%; left: 50%; transform: translateX(-50% );
        width: 300px; height: auto;z-index: 700;
     } 
    
    .support-btn-area{
        width: 50px; height: 50px; position: absolute;
        top:-70%; right:-5%; cursor: pointer;
    } 
    .support-title  h3{
        font-size: 1.2rem; line-height: 1.5rem;
    }
    .support-info{
        margin-top:5%;
    }
    .support-btn-area button span{
        width: 60%;
     } 
}

