section:nth-of-type(3){
    width: 100%; height: 100%; position: fixed;
    background: black; 
}

.sponser-container{
    width: 100%; height: 100%; position: relative;
}
.sponser-container .sponser-content{
    width: 100%; height: 100%; display: flex; position: relative;
}
.sponser-container .sponser-content .sponser-nav{
    width: 30%; height: 100%; display: flex; position: absolute;
   
}
.sponser-container .sponser-content .sponser-nav .nav-area{
    width: 50%; height: 70%;  position: absolute;
    display: flex; flex-direction: column; top:40%; right: 10%;transform: translateY(-40%);
}

.sponser-container .sponser-content .sponser-nav .nav-area h1{
    font-family: 'Orbitron', sans-serif; font-weight: 700; font-size: 3rem; text-transform: uppercase;
}
.sponser-container .sponser-content .sponser-nav .nav-area nav{
     margin-top:10%;
}
.sponser-container .sponser-content .sponser-nav .nav-area nav li{
    font-family: 'Orbitron', sans-serif; font-weight: 100; font-size: 1.5rem; margin-bottom:7%;text-transform: uppercase; letter-spacing: 1px;
}
.sponser-container .sponser-content .sponser-area{
    width: 70%;height: 100%;position: absolute;
    right: 0;
}
.sponser-container .sponser-content .sponser-area .sponser-kind{
    width: 100%;height: 100%; position: relative;  left:50%; transform: translateX(-50%);
    display: flex; flex-direction: column; margin-top:10%;
}
.sponser-container .sponser-content .sponser-area .sponser-kind .musician-title{
    width: 100%;  margin-left:3%;
    display: flex; flex-direction: row; position: relative; z-index: 600; align-items: center;
}
.sponser-container .sponser-content .sponser-area .sponser-kind .musician-title h2{
    font-family: 'Orbitron', sans-serif; font-size: 1.5rem; margin-right:3%; font-weight: 400;
}
.sponser-container .sponser-content .sponser-area .sponser-kind .musician-title p{
    font-family: 'Noto Sans KR', sans-serif; font-size: 1rem; font-weight: 100;
}
.sponser-container .sponser-content .sponser-area .musician-list{
    width: 100%;height: 100%;   
    position: relative; overflow-y: scroll;top:3%;
}
.sponser-container .sponser-content .sponser-area .musician-list ul{
    width: 100%; height: 1000px; position: relative;  
    display: flex; flex-wrap: wrap; justify-content: center;  flex-direction: row; 
   
}
.sponser-container .sponser-content .sponser-area .musician-list li{
    width:350px;  height: 350px;  padding: 0; list-style: none;
    margin-right:1%;margin-left:1%; border: solid 1px #95ff00; background: none; cursor: pointer;
}
.sponser-container .sponser-content .sponser-area .musician-list li:nth-of-type(4){
   margin-top: -10%;
}
.sponser-container .sponser-content .sponser-area .musician-list li:nth-of-type(5){
    margin-top: -10%;
 }
 .sponser-container .sponser-content .sponser-area .musician-list li:nth-of-type(6){
    margin-top: -10%;
 }
.sponser-container .sponser-content .sponser-area .musician-list li figure{
    width:100%;height: 100%; position: relative; display: flex; justify-content: center;align-items: center; justify-items: center;
}
.sponser-container .sponser-content .sponser-area .musician-list li figure img{
    width: 90%; object-fit: cover; transition: 0.3s ease-in-out;
    filter: grayscale(100%) blur(2px); 
}

.sponser-container .sponser-content .sponser-area .musician-list li:hover figure img{
    width: 100%; object-fit: cover; transition: 0.3s ease-in-out;
    filter: grayscale(0) blur(0); 
}

.sponser-container .sponser-content .sponser-area .musician-list li figure figcaption{
     position: absolute; top:50%; left:50%; transform: translate(-50%, -50%); width: 70%;
     font-family: 'Orbitron', sans-serif; font-size: 1.5rem; text-align: center; line-height: 2rem;
     text-transform: uppercase;letter-spacing: 1px; visibility:visible; opacity: 1; transition: 0.3s ease-in-out;
}
.sponser-container .sponser-content .sponser-area .musician-list li:hover figure figcaption{
    visibility:hidden; opacity: 0; transition: 0.3s ease-in-out;
}