section:nth-of-type(3){
    width: 100%; height: 100%; position: fixed;
    background: black; 
}

.sponser-container{
    width: 100%; height: 100%; position: relative;
}
.sponser-container .sponser-content{
    width: 100%; height: 100%; display: flex; position: relative;
}
.sponser-container .sponser-content .sponser-nav{
    width: 30%; height: 100%; display: flex; position: absolute;
   
}
.sponser-container .sponser-content .sponser-nav .nav-area{
    width: 50%; height: 70%;  position: absolute;
    display: flex; flex-direction: column; top:40%; right: 10%;transform: translateY(-40%);
}

.sponser-container .sponser-content .sponser-nav .nav-area h1{
    font-family: 'Orbitron', sans-serif; font-weight: 700; font-size: 3rem; text-transform: uppercase;
}
.sponser-container .sponser-content .sponser-nav .nav-area nav{
     margin-top:10%;
}
.sponser-container .sponser-content .sponser-nav .nav-area nav li{
    font-family: 'Orbitron', sans-serif; font-weight: 100; font-size: 1.5rem; margin-bottom:7%;text-transform: uppercase; letter-spacing: 1px;
    cursor: pointer;
}
.sponser-container .sponser-content .sponser-area{
    width: 70%;height: 100%;position: absolute;
    right: 0;
}
.sponser-container .sponser-content .sponser-area.music{
    width: 70%;height: 100%;position: absolute;
    right: 0; display: none;
}

.sponser-container .sponser-content .sponser-area .sponser-kind{
    width: 100%;height: 100%; position: relative;  left:50%; transform: translateX(-50%);
    display: flex; flex-direction: column; margin-top:10%; 
}
.sponser-container .sponser-content .sponser-area .sponser-kind .sponser-title{
    width: 100%;  margin-left:3%;
    display: flex; flex-direction: row; position: relative; z-index: 600; align-items: center;
}
.sponser-container .sponser-content .sponser-area .sponser-kind .sponser-title h2{
    font-family: 'Orbitron', sans-serif; font-size: 1.5rem; margin-right:3%; font-weight: 400;
}
.sponser-container .sponser-content .sponser-area .sponser-kind .sponser-title p{
    font-family: 'Noto Sans KR', sans-serif; font-size: 1rem; font-weight: 100;
}
.sponser-container .sponser-content .sponser-area .sponser-kind .sponser-list{
    width: 100%;height: 100%;   
    position: relative; overflow-y: scroll;top:3%;
}
.sponser-container .sponser-content .sponser-area .sponser-kind .sponser-list ul{
    width: 100%; height: 1000px; position: relative;   
    display: flex; flex-wrap: wrap; justify-content: center;  flex-direction: row; 
}
.sponser-container .sponser-content .sponser-area .sponser-kind .sponser-list li{
    width:350px;  height: 350px;  padding: 0; list-style: none;
    margin-right:1%;margin-left:1%; border: solid 1px #95ff00; background: none; cursor: pointer;
}
.sponser-container .sponser-content .sponser-area .sponser-kind .sponser-list li:nth-of-type(4){
    margin-top: -80px; 
}
.sponser-container .sponser-content .sponser-area .sponser-kind .sponser-list li:nth-of-type(5){
    margin-top: -80px; 
 }
 .sponser-container .sponser-content .sponser-area .sponser-kind .sponser-list li:nth-of-type(6){
    margin-top: -80px; 
 }
 .sponser-container .sponser-content .sponser-area .sponser-kind .sponser-list li figure{
    width:100%;height: 100%; position: relative; display: flex; justify-content: center;align-items: center; justify-items: center;
}
.sponser-container .sponser-content .sponser-area .sponser-kind .sponser-list li figure img{
    width: 90%; object-fit: cover; transition: 0.3s ease-in-out;
    filter: grayscale(100%) blur(2px); 
}

.sponser-container .sponser-content .sponser-area .sponser-kind .sponser-list li:hover figure img{
    width: 100%; object-fit: cover; transition: 0.3s ease-in-out;
    filter: grayscale(0) blur(0); 
}

.sponser-container .sponser-content .sponser-area .sponser-kind .sponser-list li figure figcaption{
     position: absolute; top:50%; left:50%; transform: translate(-50%, -50%); width: 70%;
     font-family: 'Orbitron', sans-serif; font-size: 1.5rem; text-align: center; line-height: 2rem;
     text-transform: uppercase;letter-spacing: 1px; visibility:visible; opacity: 1; transition: 0.3s ease-in-out;
}
.sponser-container .sponser-content .sponser-area .sponser-list li:hover figure figcaption{
    visibility:hidden; opacity: 0; transition: 0.3s ease-in-out;
}

.musician-container{
    width: 70%; height: 100%; position: absolute; z-index: 10000;
    background: rgb(0, 0, 0);right:0; display: none;
}
.musician-content{
    width: 100%; height: 100%; position: relative;
    display: flex;  align-items: center;
} 
.musician-container .musician-content .musician-image{
    width: 40%; height: 50%; 
   position: relative;
} 

.musician-container .musician-content .musician-image img{
   position: absolute; top: 40%; left: 50%; transform: translate(-50%,-40% );
   width: 90%; height: auto;z-index: 700;
} 
.musician-container .musician-content .musician-image span {
    border: solid 1px #95ff00; width: 90%; height: 90%;
    position: absolute; top:50%; left: 50%; transform: translate(-45%,-45% );
}
.musician-container .musician-content .musician-text{
   width: 50%; height: 80%; margin-left: 2%;
    position: relative; display: flex; flex-direction: column;
}
.musician-container .musician-content .musician-text .musician-title{
    width: 100%; height: 7%;  display: flex; justify-content: space-between;
    align-items: center; margin-top: 25%;
}
.musician-container .musician-content .musician-text .musician-title .musician-btn{
   width: 20%; height: 100%; 
   display: flex; justify-content: space-between;
}
.musician-container .musician-content .musician-text .musician-title .musician-btn{
    width: 20%; height: 80%; 
    display: flex; justify-content: space-between;
 }
 .musician-container .musician-content .musician-text .musician-title .musician-btn button{
   width:40%;height: 100%; padding:0; background: none; border: none; outline: none;
   position: relative; cursor: pointer;
 }
 .musician-container .musician-content .musician-text .musician-title .musician-btn button span{
    position: absolute; clip-path: polygon(100% 0, 0 50%, 100% 100%);
    background-color: white;  width: 50%; height: 100%; top:0;transition: 0.3s ease-in-out;
  }
  .musician-container .musician-content .musician-text .musician-title .musician-btn button:hover span{
    background-color: #95ff00;transition: 0.3s ease-in-out;
  }
 .musician-container .musician-content .musician-text .musician-title .musician-btn button:last-of-type span{
    transform: scale(-1);
  }
.musician-container .musician-content .musician-text .musician-title h3{
    font-family: 'Orbitron', sans-serif; font-size: 2rem; color:#95ff00;}
.musician-container .musician-content .musician-text .musician-info{
    width: 100%; height: 50%; display: flex; flex-direction: column;
    margin-top:2%;
}
.musician-container .musician-content .musician-text .musician-info h4{
    font-family: 'Orbitron', sans-serif; font-size: 1.2rem; font-weight: 300;
    margin-bottom:2%;
}
.musician-container .musician-content .musician-text .musician-info p{
    font-family: 'Noto Sans KR', sans-serif; font-size: 0.9rem; font-weight: 100; line-height: 1.2rem;
    text-align: justify;
}
.musician-container .musician-content .musician-text .musician-sns h4{
    font-family: 'Orbitron', sans-serif; font-size: 1.2rem; font-weight: 300;
    margin-bottom:2%;
}
.musician-container .musician-content .musician-text .musician-sns .sns-imgs{
    height: 20%;
}
.musician-container .musician-content .musician-text .musician-sns .sns-imgs img{
    width: 40px; margin-right: 5%; cursor: pointer;
}


.sponser-container .sponser-content .sponser-area.game{
    width: 70%;height: 100%;position: absolute;
    right: 0; background: black;
}

.sponser-container .sponser-content .sponser-area.game .sponser-kind .sponser-list ul{
    width: 100%; height: 1400px; position: relative;   
    display: flex; flex-wrap: wrap; justify-content: center;  flex-direction: row; 
}
.sponser-container .sponser-content .sponser-area.game .sponser-kind .sponser-list li{
    width:350px;  height: 350px;  padding: 0; list-style: none;
    margin-right:1%;margin-left:1%; border: solid 1px #95ff00; background: none; cursor: pointer;
}
.sponser-container .sponser-content .sponser-area.game .sponser-kind .sponser-list li:nth-of-type(4){
    margin-top: -80px; 
}
.sponser-container .sponser-content .sponser-area.game .sponser-kind .sponser-list li:nth-of-type(5){
    margin-top: -80px; 
 }
 .sponser-container .sponser-content .sponser-area.game .sponser-kind .sponser-list li:nth-of-type(6){
    margin-top: -80px; 
 }
 .sponser-container .sponser-content .sponser-area.game .sponser-kind .sponser-list li:nth-of-type(7){
    margin-top: -80px; 
}
.sponser-container .sponser-content .sponser-area.game .sponser-kind .sponser-list li:nth-of-type(8){
    margin-top: -80px; 
 }
 .sponser-container .sponser-content .sponser-area.game .sponser-kind .sponser-list li:nth-of-type(9){
    margin-top: -80px; 
 }

 .sponser-container .sponser-content .sponser-area.game .sponser-kind .sponser-list li figure img{
    width: 80%; object-fit: cover; transition: 0.3s ease-in-out;
    filter: grayscale(100%) blur(2px); 
}

.sponser-container .sponser-content .sponser-area.game .sponser-kind .sponser-list li figure img:first-of-type{
    width: 90%; object-fit: cover; transition: 0.3s ease-in-out;
    filter: grayscale(100%) blur(2px); 
}
.sponser-container .sponser-content .sponser-area.game .sponser-kind .sponser-list li:hover figure img{
    width: 90%; object-fit: cover; transition: 0.3s ease-in-out;
    filter: grayscale(0) blur(0); 
}
.sponser-container .sponser-content .sponser-area.game .sponser-kind .sponser-list li:hover figure img:first-of-type{
    width: 100%; object-fit: cover; transition: 0.3s ease-in-out;
    filter: grayscale(0) blur(0); 
}